# Auto detect text files and perform LF normalization
* text=auto
* text=auto
*.sh text eol=lf
.husky/* text eol=lf
.gitattributes text eol=lf
* text=auto
*.sh text eol=lf
.husky/* text eol=lf
.gitattributes text eol=lf
